body {
  color: #333;
  font-family: 'Open Sans', sans-serif;
}

.background-card {
  color: white;
  border: none;
  border-radius: 10px;
  background-image: linear-gradient(to left, #c030f3, #a630f4, #8931f4, #6633f4, #3035f3);
  padding: 20px;
  margin-top: 20px;
}

.table th,
.table td {
  justify-content: center;
  text-align: center;
}

.btn {
  font-weight: bold;
}


table img {
  width: 100px; /* Adjust the thumbnail size */
}

.btn-danger { /* Enhancing the delete button */
  border-color: #ff3860;
  color: #fff;
  background-color: #ff3860;
}
