body {
  background-color: #e6e6f9;
  color: #333;
  font-family: 'Open Sans', sans-serif;
}

.background-card {
  color: white;
  border: none;
  border-radius: 10px;
  background-image: linear-gradient(to left, #c030f3, #a630f4, #8931f4, #6633f4, #3035f3);
}

.input-group-text {
  border-radius: 0.375rem 0 0 0.375rem;
}

.btn-primary, .btn-success, .btn-danger {
  border-radius: 0.375rem;
}

.btn {
  font-weight: bold;
}

#btn_add{
  margin-top: 10px;
  border: 2px solid #333;
}

