/* Default styles for larger screens */
body {
  background-image: url("./img/background.jpg");
  background-size: cover;
}

.card {
  border: 4px solid purple;
  background-color: #333;
}

.card-title {
  text-align: center;
  font-size: 44px;
  font-weight: bold;
  color: #ffc107;
  margin-bottom: 20px;
  text-decoration: underline;
}

#subject_book {
  width: 120px;
  font-family: Arial, sans-serif;
}

#btn_add {
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

#list_of_book {
  font-family: Arial, sans-serif;
}

#list_of_book th {
  background-color: #f8f9fa;
}

#list_of_book th,
#list_of_book td {
  border: 1px solid #dee2e6;
  padding: 8px;
}

#list_of_book td {
  color: #dee2e6;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .btn_th {
    width: 20px;
    height: 20px;
  }
  #list_of_book {
    font-size: 12px;
  }

  /* Adjust card layout for smaller screens */
  .card {
    border: 2px solid purple;
  }

  .card-title {
    font-size: 32px;
  }

  #subject_book {
    width: 100%;
  }

  #btn_search,
  #btn_favorites,
  #btn_reset {
    width: 100%;
    margin-top: 10px;
  }
}
